/* Enter your custom styles here */
.sapUiPaddingTitle {
    height: 1rem !important;
    padding-top: 0.09rem;
}


.sapMBtn .sapMBtnInner {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
/* .PadCenter{
    margin-left: 30px !important; 
} */
 /* #__data17{
    position: relative;
    left:500px;
} */