.descrText, .titleText {
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.linkText {
    padding-top: 10px;
    font-size: 17px;
}

div.sapMTabContainer.noCloseButtons > .sapMTabStripContainer > .sapMTabStrip > .sapMTSTabsContainer > .sapMTSTabs > .sapMTabStripItem > .sapMTSItemCloseBtnCnt {
    visibility: hidden;
}